/* ++++++++++++++++++++++++ */
/* Import global css-styles */
/* ++++++++++++++++++++++++ */
@import url(styles.css);


/* ++++++++++++++++++++++++++++++++++++ */
/* Small devices (mobiles, up to 767px) */
/* ++++++++++++++++++++++++++++++++++++ */
.card{
    grid-template-areas: 
        "pic"
        "headline"
        "date"
        "text"
        "author";
}

.pic > img{
    max-width: 85%;
}

.text{
    grid-area: text;
}

p{
    margin: 15px;
}

h1 > a{
    text-decoration: none;
    color: black;
}

h1 > a:hover{
    text-decoration: underline;
}

.author{
    border-top: 1px solid black;
    grid-area: author;
    display: flex;
}

.author-pic > img{
    width: 60px;
    margin: 20px;
}


/* ++++++++++++++++++++++++++++++++++++++ */
/* Medium devices (tablets, 768px and up) */
/* ++++++++++++++++++++++++++++++++++++++ */
@media screen and (min-width: 768px) and (max-width: 1023px){
    .card{
        grid-template-areas: 
            "pic pic pic"
            "headline headline date"
            "text text text"
            "author author author";
    }
}


/* +++++++++++++++++++++++++++++++++++++++ */
/* Large devices (desktops, 1024px and up) */
/* +++++++++++++++++++++++++++++++++++++++ */
@media screen and (min-width: 1024px){
    .card{
        padding: 10px;
        grid-template-areas: 
            "pic pic pic"
            "headline headline date"
            "text text text"
            "author author author";
    }
}