/* ++++++++++++++++++++++++ */
/* Import global css-styles */
/* ++++++++++++++++++++++++ */
@import url(styles.css);


/* ++++++++++++++++++++++++++++++++++++ */
/* Small devices (mobiles, up to 767px) */
/* ++++++++++++++++++++++++++++++++++++ */
.card{
    grid-template-areas: 
        "pic"
        "headline"
        "date";
}

.pic > img{
    max-width: 60%;
}

.headline{
    color: black;
    text-decoration: none;
}

.headline:hover{
    text-decoration: underline;
}


/* ++++++++++++++++++++++++++++++++++++++ */
/* Medium devices (tablets, 768px and up) */
/* ++++++++++++++++++++++++++++++++++++++ */
@media screen and (min-width: 768px) and (max-width: 1023px){
    .headline{
        margin: 0 0 0 30px;
    }
    
    .card{
        grid-template-areas: 
            "pic pic pic"
            "headline headline date";
    } 
}


/* +++++++++++++++++++++++++++++++++++++++ */
/* Large devices (desktops, 1024px and up) */
/* +++++++++++++++++++++++++++++++++++++++ */
@media screen and (min-width: 1024px){
    #main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card{
        padding: 10px;
        grid-template-areas: 
            "pic pic pic"
            "headline headline date";
    }
}